@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <link href="../../Content/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../Scripts/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="../../Scripts/index.js"></script>
    <title>Acceder</title>
</head>
<body>
    <div id="contenido">
        <div id="login">
            <div id="cabecera-login">
                <h2>
                    Acceso a la aplicación
                </h2>
            </div>
            <div id="cuerpo-login">
                <!--<form action="" method="post">-->
                    <div>
                        <input class="caja-texto" type="text" id="usuario" name="usuario" value="" placeholder="Usuario" />
                    </div>
                 
                    <div>
                        <input class="caja-texto"  type="password" id="contrasena" name="contrasena" value="" placeholder="Contraseña" />
                    </div>
                    <div id="mensaje-error"></div>
                    
                    <div  id="acceder">Acceder</div>
                <!--</form>-->
                
               
            </div>
        </div>
    </div>
</body>
</html>
