@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Principal</title>
    <link href="../../Content/principal.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../Scripts/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="../../Scripts/principal.js"></script>
</head>
<body>
    <div id="contenido">
        <div id="cabecera">
            <div id="cabecera-1">
                <input type="text" id="buscar-usuario" placeholder="Buscar usuario" />
                <button id="btn-cancelar">Cancelar</button>
                <button id="btn-agregar">Agregar</button>
                <label id="cabecera-mensaje"></label>
            </div>
            <div id="cabecera-2">
                
                    <a id="btn-salir" style="text-decoration:none;" href="Principal/Salir">Salir</a>
                
            </div>
        </div>
        <div id="cuerpo">
            <div id="cuerpo-1" class="caja">
                <ul id="lista">
                   
                </ul>
                <div id="paginacion">
                    
                </div>
            </div>
            <div id="cuerpo-2" class="caja">
                
                <div id="contenido-editable">
                    <label class="titulo-input">ID</label>
                    <div class="caja-input">
   
                        <input disabled="disabled" id="id-editable" class="caja-editable" type="text" name="id" value="" />
                    </div>

                     <label class="titulo-input">Nombre</label>
                    <div class="caja-input">
                       
                        <input id="nombre-editable" class="caja-editable" type="text" name="nombre" disabled =disabled value="" />
                    </div>

                    <label class="titulo-input">Usuario</label>
                    <div class="caja-input">
                       
                        <input id="usuario-editable" class="caja-editable" type="text" name="usuario" disabled =disabled value="" />
                    </div>

                    <label class="titulo-input">Contraseña</label>
                    <div class="caja-input">
                        
                        <input id="contrasena-editable" class="caja-editable" type="text" name="contrasena" value="" disabled =disabled />
                    </div>

                    <label class="titulo-input">Estatus</label>
                    <div class="caja-input">
                        <select  disabled =disabled id="estatus-editable" class="caja-editable">
                           
                        </select>
                        
                    </div>

                    <label class="titulo-input">Perfil</label>
                    <div class="caja-input">
                        <select disabled =disabled id="perfil-editable" class="caja-editable">
                            
                        </select>
                        
                    </div>
                    

                    <div id="guardar">
                        <h3>
                            Guardar
                        </h3>
                    </div>

                    <div id="eliminar">
                        <h3>
                            Eliminar
                        </h3>
                    </div>
                   
                    
                      
                    
                </div>


            </div>
            <div id="cuerpo-3" class="caja">
                <div id="contenido-editable-2">
                    <label class="titulo-input">ID</label>
                    <div class="caja-input">
   
                        <input disabled="disabled" id="id-editable-2" class="caja-editable" type="text" name="id" value="" />
                    </div>

                     <label class="titulo-input">Nombre</label>
                    <div class="caja-input">
                       
                        <input id="nombre-editable-2" class="caja-editable" type="text" name="nombre" disabled =disabled value="" />
                    </div>

                    <label class="titulo-input">Descripcion</label>
                    <div class="caja-input">
                        <textarea cols=40 rows=10 id="descripcion-editable" disabled=disabled> </textarea>
                       
                    </div>

                    

                    <label class="titulo-input">Estatus</label>
                    <div class="caja-input">
                        <select  disabled =disabled id="estatus-editable-2" class="caja-editable">
                           <option value="0">0</option>
                           <option value="0">1</option>
                        </select>
                        
                    </div>

                    
                    

                    <div id="guardar-2">
                        <h3>
                            Guardar
                        </h3>
                    </div>

                    
                   
                    
                      
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>
