@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Principal</title>
    <link href="../../Content/principal.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../Scripts/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="../../Scripts/principal.js"></script>
</head>
<body>
    <div id="contenido">
        <div id="cabecera">
            <div id="cabecera-1">
                <input type="text" id="buscar-usuario" placeholder="Buscar usuario" />
                <button id="btn-buscar">Buscar</button>
                <button id="btn-agregar">Agregar</button>
                <label id="cabecera-mensaje"></label>
            </div>
            <div id="cabecera-2">
                <button id="btn-salir">Salir</button>
            </div>
        </div>
        <div id="cuerpo">
            <div id="cuerpo-1" class="caja">
                <ul id="lista">
                   
                </ul>
                <div id="paginacion">
                    asdasd
                </div>
            </div>
            <div id="cuerpo-2" class="caja">
                <div id="contenido-visible">
                     <label class="titulo-input">ID</label>
                      <div class="label-input">
   
                        <label id="id-visible" class="label-visible">  </label>

                      </div>
                    <label class="titulo-input">Nombre</label>
                    <div class="label-input">
   
                        <label id="nombre-visible" class="label-visible">  </label>

                    </div>

                    <label class="titulo-input">Usuario</label>
                    <div class="label-input">
   
                        <label id="usuario-visible" class="label-visible">  </label>

                    </div>

                    <label class="titulo-input">Contraseña</label>
                    <div class="label-input">
   
                        <label id="contrasena-visible" class="label-visible">  </label>

                    </div>

                    <label class="titulo-input">Estatus</label>
                    <div class="label-input">
   
                        <label id="estatus-visible" class="label-visible">  </label>

                    </div>

                    <label class="titulo-input">Perfil</label>
                    <div class="label-input">
   
                        <label id="perfil-visible" class="label-visible">  </label>

                    </div>

                     <div id="actualizar">
                        <h3>
                            Actualizar
                        </h3>
                    </div>  



                </div>
                <div id="contenido-editable">
                    <label class="titulo-input">ID</label>
                    <div class="caja-input">
   
                        <input disabled="disabled" id="id-editable" class="caja-editable" type="text" name="id" value="" />
                    </div>

                     <label class="titulo-input">Nombre</label>
                    <div class="caja-input">
                       
                        <input id="nombre-editable" class="caja-editable" type="text" name="nombre" value="" />
                    </div>

                    <label class="titulo-input">Usuario</label>
                    <div class="caja-input">
                       
                        <input id="usuario-editable" class="caja-editable" type="text" name="usuario" value="" />
                    </div>

                    <label class="titulo-input">Contrasena</label>
                    <div class="caja-input">
                       
                        <input id="contrasena-editable" class="caja-editable" type="text" name="contrasena" value="" />
                    </div>

                    <label class="titulo-input">Estatus</label>
                    <div class="caja-input">
                        <select id="estatus-editable" class="caja-editable">
                           
                        </select>
                        
                    </div>

                    <label class="titulo-input">Perfil</label>
                    <div class="caja-input">
                        <select id="perfil-editable" class="caja-editable">
                            
                        </select>
                        
                    </div>
                    <div id="cancelar">
                        <h3>
                            Cancelar
                        </h3>
                    </div>

                    <div id="guardar">
                        <h3>
                            Guardar
                        </h3>
                    </div>

                    <div id="eliminar">
                        <h3>
                            Eliminar
                        </h3>
                    </div>
                   
                    
                      
                    
                </div>


            </div>
            <div id="cuerpo-3" class="caja">
            </div>
        </div>
    </div>
</body>
</html>
